### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Virtualenv ###
.venv

### python-dotenv ###
.env

### python ###
__pycache__

### output files ###
output.*